* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:focus, a:visited, a:active {
  outline: none;
  text-decoration: none; }

body, html {
  overflow-x: hidden;
  width: 100%; }

button {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none; }

html {
  height: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  min-height: 100%;
  line-height: 1; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'NR';
  src: url("Nunito-Regular.woff") format("woff");
  src: url("Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NL';
  src: url("Nunito-Light.woff") format("woff");
  src: url("Nunito-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'NB';
  src: url("Nunito-Bold.woff") format("woff");
  src: url("Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

h1 {
  text-align: center;
  font-family: "NB", sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 15px; }

.main span {
  font-family: "NL", sans-serif;
  font-style: italic;
  font-size: 12px;
  text-align: center;
  margin-bottom: 15px; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fefefe; }

.table {
  width: 80vw;
  border: 3px solid #ef7f1a; }

.row {
  background-color: rgba(173, 140, 215, 0.48); }

.table-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  align-items: center;
  border: 2px solid #000000;
  background-color: rgba(180, 255, 183, 0.48); }
  .table-content h2 {
    font-family: "NL", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    color: #8B00FF;
    padding: 5px 0; }
  .table-content h3 {
    width: 100%;
    font-family: "NB", sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #ef7f1a;
    text-align: center;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    padding: 5px 0; }
  .table-content span {
    font-family: "NL", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    display: block; }
  .table-content .table-content__item {
    text-align: center; }

.table-devider {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #a8dadc;
  font-family: "NL", sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: red; }

.table-content__list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  background-color: black;
  grid-gap: 1px; }

.table-content__item {
  padding: 40px;
  background-color: #f1faee; }

.table-content__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.item-title h2 {
  color: red;
  padding: 2px;
  margin: 5px; }

.item-description {
  font-family: "NL", sans-serif;
  font-style: italic;
  font-size: 14px;
  padding: 5px; }

.text-devider {
  font-family: "NL", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  padding: 2px;
  margin: 5px; }
