@import _reset

@import _fonts

@import _const

@import _mobile

// ----------------Header----------------
// -------То,что ниже-удалить------------

@mixin ff_title
  font-family: $ff_NB
  font-size: 26px
  font-weight: bold
  color: $orange

@mixin ff_subt
  font-family: $ff_NL
  font-size: 18px
  font-weight: bold
  color: $black

.main
  width: 100vw
  height: 100vh
  background-color: #fefefe
  display: flex
  justify-content: center
  align-items: center

.table
  width: 80vw
  height: 80vh
  border: 3px solid $orange

.table-content
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  border: 2px solid $black
  background-color: rgba(180, 255, 183, 0.48)

.row
  width: 150px
  background-color: rgba(173, 140, 215, 0.48)

.table-title
  display: inline-flex
  @include ff_title
  padding: 2px
  margin: 5px

.table-content
  & span
    @include ff_subt
    display: block
